.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Buenas prácticas agrícolas:
            | son todas las prácticas aplicadas en la producción agrícola para evitar o reducir daños ambientales, procurar la adecuada productividad de las actividades agropecuarias y obtener productos inocuos para las personas que los consumen.

        hr
        p
            strong.mr-2 Calidad:
            | grado en el que en un conjunto de características inherentes cumple con los requisitos, bajo determinadas condiciones de uso.

        hr
        p
            strong.mr-2 Criterio:
            | condición que debe cumplir una determinada actividad, actuación o proceso para ser considerada de calidad.

        hr
        p
            strong.mr-2 Documento:
            | información y su medio de soporte.

        hr
        p
            strong.mr-2 Estándar:
            | grado de cumplimiento exigible a un criterio de calidad. Dicho, en otros términos, define el rango en el que resulta aceptable el nivel de calidad que se alcanza en un determinado proceso.

        hr
        p
            strong.mr-2 ETA:
            | enfermedades transmitidas por alimentos, se refieren a cualquier enfermedad causada por la ingestión de un alimento contaminado que provoca efectos nocivos en la salud del consumidor.

        hr
        p
            strong.mr-2 Indicador:
            | medida cuantitativa que puede usarse como guía para controlar y valorar la calidad de las diferentes actividades.

        hr
        p
            strong.mr-2 Inocuidad:
            | es la condición de los alimentos que garantiza que no causarán daño al consumidor cuando se preparen y/o consuman de acuerdo con el uso al que se destinan.

        hr
        p
            strong.mr-2 Manejo integrado de plagas:
            | es un sistema de prevención y control de plagas que en el contexto del medio ambiente y la dinámica poblacional de las distintas especies de plaga, utiliza herramientas de tipo culturales, físicas, genéticas, biológicas y químicas con el objeto de mantener las poblaciones de plagas por debajo del umbral de daño económico y con el mínimo riesgo o impacto para las personas, los animales y el medio ambiente y debe ser considerado su manejo de acuerdo con las directrices oficiales cuando existan o de acuerdo a recomendación del asistente técnico. 

        hr
        p
            strong.mr-2 Proceso:
            | conjunto de recursos y actividades interrelacionadas que transforman elementos de entrada en resultados.

        hr
        p
            strong.mr-2 Registro documental:
            | información escrita que proporciona evidencia objetiva de las actividades desempeñadas en el predio. 

        hr
        p
            strong.mr-2 Trazabilidad:
            | poder trazar la historia, el uso o la ubicación de un producto por medio del mantenimiento de registros documentales (el origen de los materiales y las partes, la historia de los procesos aplicados al producto). 
