include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Angel, J. [TV Agro]. (2019). Como Mejorar las Buenas Prácticas Agrícolas [Archivo de video]. ", "https://www.youtube.com/watch?v=35Dceg8WYYg.")
        +referenciaItem("Arando, R. (2017). Buenas Prácticas Agrícolas [Archivo de video].  ", "https://www.youtube.com/watch?v=pE8ib_kJPKo&t=10s.")
        +referenciaItem("CAN, R., UCA, P., & VIDA, A. (2015). Manejo de fincas sostenibles. Red de Agroecologia Comunitaria, 3-8.", "")
        +referenciaItem("Corporación Colombia Internacional. (2009). Manual temático del facilitador en buenas prácticas Agrícolas.", "")
        +referenciaItem("Corporación Colombia Internacional. 2009. Mis buenas prácticas agrícolas “Guía para agroempresarios”.", "")
        +referenciaItem("Decreto 475 de 2011. [Ministerio de Salud]. por el cual se expiden normas técnicas de calidad del agua potable. 10 de marzo de 1998. D.O. 43.259", "")
        +referenciaItem("Decreto 1076 de 2015. [Ministerio de Ambiente]. Decreto Único Reglamentario del Sector Ambiente y Desarrollo Sostenible. Colombia. 26 de mayo del 2015. ", "")
        +referenciaItem("Fonseca, J. A., Muñóz, N. A., & Cleves, J. A. (2011). El sistema de gestión de calidad: elemento para la competitividad y la sostenibilidad de la producción agropecuaria colombiana. Revista de investigación agraria y ambiental, 2(1), 9-22.", "")
        +referenciaItem("Guía básica para la implementación de Buenas Prácticas Agrícolas. Convenio 493 de 2017 Suscrito entre la ADR y Asohofrucol.  ", "")
        +referenciaItem("Gutiérrez De Piñeres, C. Buenas prácticas agrícolas de frutas y hortalizas para mercados especializados y de exportación (No. 631.56/G984).", "")
        +referenciaItem("Izquierdo, J., & Rodriguez, M. (2006). Buenas prácticas agrícolas: En busca de sostenibilidad, competitividad y seguridad alimentaria. 1, 66.", "")
        +referenciaItem("LA, C. E. (2009). Sistema de mejoramiento continuo en la producción de café Módulo Manejo Ambiental.", "")
        +referenciaItem("Ministerio de Salud, calidad e inocuidad de alimentos. ", "https://www.minsalud.gov.co/salud/Paginas/inocuidad-alimentos.aspx")
        +referenciaItem("Ministerio de Trabajo. 2018. Cartilla identificación peligros prevención en seguridad y salud en el trabajo en agricultura. Colombia.  ", "")
        +referenciaItem("ONU. (2004). Las buenas prácticas agrícolas. Organización de las naciones unidas para la agricultura y la alimentación (FAO). Montevideo, UY.")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura. (2008). Buenas Prácticas Agrícolas en la Producción de Tomate bajo condiciones protegidas.  ", "")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura. Programa Especial para la Seguridad Alimentaria (PESA) Centroamérica. ", "http://www.fao.org/in-action/pesa-centroamerica/temas/conceptos-basicos/es/#:~:text=Inocuidad%3A%20La%20inocuidad%20se%20refiere,enfermedades%20cr%C3%B3nicas%20como%20c%C3%A1ncer%2C%20enfermedades", "http://www.fao.org/in-action/pesa-centroamerica/temas/conceptos-basicos/es/#:~:text=Inocuidad%3A%20La%20inocuidad%20se%20refiere,enfermedades%20cr%C3%B3nicas%20como%20c% C3%A1ncer%2C%20enfermedades")

        +referenciaItem("Organización Mundial de la Salud (OMS), inocuidad de los alimentos. ", "https://www.who.int/topics/food_safety/es/")

        +referenciaItem("Presidencia de la República de Colombia. 2017. Guía para la elaboración y control de documentos del SIGEPRE.", "")
        +referenciaItem("Resolución 30021 de 2017. [Instituto Colombiano Agrícola]. Por medio de la cual se establecen los requisitos para la Certificación en Buenas Prácticas Agrícolas en producción primaria de vegetales y otras especies para consumo humano. 5 de mayo de 2017 D.O. 45407 50.224", "")
        +referenciaItem("Resolución 0312 de 2019. [Ministerio de trabajo]. Por la cual se definen los Estándares Mínimos del Sistema de Gestión de la Seguridad y Salud en el Trabajo SG-SST.", "")
        +referenciaItem("Reyes, J. (2015). Guía de técnicas, métodos y procedimientos de reproducción asexual o vegetativa de las plantas. Clúster de Viveristas Dominicano, CLUSVIDON. Santo Domingo. República Dominicana.", "")
        +referenciaItem("Sena. Asohofrucol. (2019). Cartilla de producción hortofrutícola orientada al mercado final. Convenio SENA – ASOHOFRUCOL 0045 de 2019. Bogotá. Colombia.  ", "")
        +referenciaItem("Técnicas de siembra Guía para iniciar un huerto orgánico y saludable. Fundación Alternativas. La Paz. Bolivia. Diciembre 2015.", "")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            