.container#page-tema-3

    .header-ecored
        h1 3. Costos de producción

    .jumbotron.bg-white 

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-3/imagen1.png", alt="").img-fluid

        .row.mt-5

            p Son todos los gastos o las inversiones que se hacen cuando se va a cultivar determinado producto. En la producción agrícola se cuenta con costos directos e indirectos: 

        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-3/imagen2.png")

                        h4 Costos directos
                        hr.text-line-card
                        p.mt-3 Son aquellos costos indispensables para la producción y que participan directamente en el proceso productivo. Por ejemplo: el costo de las semillas y el pago de jornales (generalmente comprenden los insumos directos y la mano de obra directa). 

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-3/imagen3.png")

                        h4 Costos indirectos
                        hr.text-line-card
                        p.mt-3 Son los que intervienen indirectamente en el proceso productivo. Tienen la característica de que algunos no son tan indispensables, como el caso de los costos directos. Por ejemplo: los seguros y la depreciación de la maquinaria. 

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-3/imagen4.png")

                        h4 Costo total o costos de producción
                        hr.text-line-card
                        p.mt-3 Comprende todos los costos y gastos en que ha incurrido el productor agrícola para cultivar y vender su producto. 

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-3/imagen5.svg", alt="").img-fluid

        .row.justify-content-center.align-items-center.mt-5

            p.text-center #[strong Fuente:] Cartilla producción hortofrutícola orientada al mercado final. Asohofrucol, página 31. 

        .row.mt-5

            p Ejemplo para calculo costos de producción de Tomate: 

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-3/imagen6.svg", alt="").img-fluid

        .row.justify-content-center.align-items-center.mt-5

            p.text-center #[strong Fuente:] Cartilla producción hortofrutícola orientada al mercado final. Asohofrucol, página 31. 

    .jumbotron.bg-white 
        .header#tema-3_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 3.1] Capacidad de producción

        .row.mt-5

            p La productividad implica la mejora del proceso productivo, lo que significa una comparación favorable entre la cantidad de recursos utilizados y la cantidad de bienes y servicios producidos. Por ende, la productividad es un índice que relaciona lo producido por un sistema (salidas o producto) y los recursos utilizados para generar (entradas o insumos). Es decir: 

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-3/imagen7.svg", alt="").img-fluid

        .row.mt-5

            p De esta forma, surgen algunos problemas como: definir el sistema, indicar cómo pueden expresarse sus entradas y salidas y considerar cómo medir la productividad. 

            p La medición de la productividad es a veces bastante directa, por ejemplo, cuando es medida como horas de mano de obra por tonelada de un producto específico, o como la energía necesaria para generar un Kw de electricidad. 

    .jumbotron.bg-white 
        .header#tema-3_2.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 3.2] Plan de ventas

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-3/imagen8.png", alt="").img-fluid

        .row.mt-5

            p La comercialización agrícola tiene en cuenta todos los servicios y agentes que se ocupan de hacer llegar el producto agrícola del centro de producción a los de consumo. Entre las funciones de la comercialización se destacan las siguientes: comprar, vender, transportar, almacenar, estandarizar, seleccionar y clasificar, financiar, asumir riesgos y obtener información del mercado. Así mismo, actividades de empaque y de trazabilidad del producto. 


